@media(max-width: 1280px) {

    .cabecalho {
        padding: 30px;
    }

    .declaracao{
        flex-direction: column;
        align-items: center;
        margin: 50px 0;
        gap: 30px;
    }
    .declaracao .informacoes {
        max-width: 100%;
        text-align: center;
        
    }

    .promessas .container-promessas{
        padding: 0 30px
    }
}

@media (max-width: 425px) {
    .cabecalho {
        flex-direction: column;
        gap: 30px;
    }
    
    .declaracao .informacoes h1 {
        font-size: 30px;
    }

    .declaracao .informacoes p {
        font-size: 16px;
    }

    .declaracao .container-foto img {
        max-width: 320px;
    }

    .promessas {
        padding: 20px;
    }
}
